---
import { links, legalLinks, phoneNumber, email } from "@/lib/constants";
import { Button } from "@/components/ui/button";
import { Separator } from "@/components/ui/separator";
const footerLinks = [...links, ...legalLinks];

interface CustormerSupportLink {
  name: string;
  value: string;
  link: string;
}
const customerSupportLinks: CustormerSupportLink[] = [
  {
    name: "Phone number",
    value: phoneNumber,
    link: "tel:" + phoneNumber,
  },
  {
    name: "Email",
    value: email,
    link: email,
  },
] as const;
---

<div class="pt-30"></div>
<Separator />
<div class="py-10">
  <footer
    class="text-muted-foreground wrapper max-w-4xl sm:grid grid-cols-2 flex flex-col gap-10 sm:gap-0"
  >
    <ul class="flex flex-col gap-3">
      {
        footerLinks.map(({ name, href }) => (
          <li>
            <a href={href}>{name}</a>
          </li>
        ))
      }
    </ul>
    <ul class="flex flex-col">
      {
        customerSupportLinks.map(({ name, value, link }) => (
          <li>
            {name}:
            <a href={link}>
              <Button
                variant="link"
                className={"whitespace-normal break-all text-start ps-1.5! p-0"}
              >
                {value}
              </Button>
            </a>
          </li>
        ))
      }
    </ul>
  </footer>
</div>
