---
import Image from "@/components/ImageSectionImage";
import { getImage } from "astro:assets";
import { Button } from "./ui/button";
import { motion } from "motion/react";

interface Props {
  collection: {
    name: string;
    href: string;
  };
  image: {
    src: ImageMetadata;
    alt: string;
  };
}
const { collection, image } = Astro.props;
const imageResult = await getImage({ src: image.src });
---

<div class="h-svh relative" style={"clip-path: inset(0)"}>
  <Image imageResult={imageResult} alt={image.alt} client:load />
  <div class="absolute inset-0 flex justify-center items-center">
    <motion.div
      client:load
      initial={{
        opacity: 0,
        y: 40,
      }}
      whileInView={{
        opacity: 1,
        y: 0,
        transition: {
          delay: 0.1,
          ease: "easeOut",
        },
      }}
      viewport={{
        once: true,
      }}
      className="flex justify-center items-center flex-col gap-5"
    >
      <div
        class="bg-primary/45 text-primary-foreground px-4 py-3 text-3xl font-heading rounded-4xl soft-ring"
      >
        <a href={collection.href} class="underline decoration-1"
          >{collection.name}</a
        >
      </div>
      <a href={collection.href}>
        <div
          class="bg-primary/45 py-3 px-6 text-primary-foreground rounded-full soft-ring"
        >
          Shop now
        </div>
      </a>
    </motion.div>
  </div>
</div>
